:root {
  --primary-color: #ff6c6c;
  --secondary-color: #9099a6;
  --h1-font-size: 3.5rem;
  --h2-font-size: 3rem;
  --paragraph-font-size: 2rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: var(--h2-font-size);
  font-weight: 700; }

p {
  text-align: center;
  font-size: var(--paragraph-font-size);
  max-width: 80%;
  padding-top: 2rem; }

.secContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  padding-top: 2rem; }

.mockupContainer {
  position: relative;
  align-self: flex-end;
  width: 36rem; }

.iPhone {
  width: 100%;
  margin-left: 1.2rem; }

.graph {
  position: absolute;
  top: 100vh;
  transform: translateY(-100%);
  overflow: hidden; }

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  header .secContent .textDiv .header-h1group {
    width: 80%;
    line-height: 1.1; }
    header .secContent .textDiv .header-h1group .header-h1Topic {
      color: var(--primary-color); }
      header .secContent .textDiv .header-h1group .header-h1Topic::before {
        content: 'climat change';
        animation: topic-switch infinite 6s ease; }

@-webkit-keyframes topic-switch {
  0% {
    content: 'climat change'; }
  33% {
    content: 'factory farming'; }
  66% {
    content: 'micro plastic'; } }
  header .secContent .logoNaked {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 20rem; }
  header .tempGraph {
    width: 200%;
    margin-left: -100%; }

/*
width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
*/
.sec1 {
  position: relative;
  background-color: var(--primary-color);
  color: white;
  height: 100vh;
  overflow: hidden; }
  .sec1 p {
    max-width: 90%; }
  .sec1 .receipt {
    width: 60%;
    margin-left: 7.6rem;
    margin-top: 2rem; }
  .sec1 .phoneTextWrapper {
    position: relative;
    margin-top: -22rem; }
    .sec1 .phoneTextWrapper .scanText {
      width: 55%;
      color: var(--secondary-color);
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.2;
      position: absolute;
      left: 8rem;
      top: 10rem; }
      .sec1 .phoneTextWrapper .scanText .redText {
        color: var(--primary-color); }
      .sec1 .phoneTextWrapper .scanText .textIsScanned {
        opacity: 1; }
  .sec1 .co2Graph {
    width: 200%;
    margin-left: 0; }

.card {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  border-radius: 3.5rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.06);
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly; }
  .card .icon {
    height: 7rem;
    margin-top: 2.5rem; }
  .card h2 {
    color: var(--secondary-color);
    margin-top: 1.2rem;
    margin-bottom: 1.1rem; }
  .card p {
    padding-top: 0;
    max-width: 85%;
    margin-bottom: 2.5rem; }

.spacer {
  height: 18rem;
  width: 100%; }

.sec2 {
  position: relative;
  background-color: white;
  z-index: 100;
  overflow: hidden; }
  .sec2 p {
    max-width: 85%; }
  .sec2 .cardsContainer {
    width: 80%; }
  .sec2 .skylineGraph {
    width: 120%;
    top: 100%; }

.feedbackForm {
  width: 80%;
  position: relative;
  margin-bottom: 7rem; }
  .feedbackForm .feedbackBox {
    position: relative;
    height: 20rem;
    width: 100%;
    border-radius: 3.5rem;
    background-color: white;
    margin-top: 4rem;
    border: none;
    padding-top: 1.5rem; }
  .feedbackForm .feedbackSendBtn {
    position: absolute;
    top: 70%;
    left: 82%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none; }
    .feedbackForm .feedbackSendBtn span {
      padding: 1rem;
      color: white; }

.sec3 {
  overflow: hidden;
  background-color: var(--primary-color);
  color: white; }

/*
.fadedIn {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
*/
.fadedOut {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 40);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; }

body .fadedIn {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.phonefadeOut {
  transition: transform 0.8s ease-in-out; }

.scanFadeIn {
  transition: transform 0.3s ease-in; }

.intersectDiv {
  display: inline-block;
  position: absolute;
  height: 50vh;
  width: 100vw;
  top: 100vh;
  transform: translateY(70vh); }

.scanTextLine {
  opacity: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 400;
  background-color: white;
  color: black;
  overflow-x: hidden;
  /*prevent scrolling */ }
