span {
  color: var(--primary-color);
}

.header-row1 {
  display: flex;
  justify-content: space-evenly;

  .header-text-div {
    display: inline-block;
    width: 500rem;
    background-color: blue;

    .header-h1group {
      font-size: 20rem;
    }
  }

  .header-mockup {
    position: relative;

    .header-iPhone {
      // watch out for the box Shadow that is included in the svg
      //box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.15);
      width: 30rem;
    }

    .header-logo-naked {
      width: 8rem;
      position: absolute; //Alternativ: make the .header-mockup div flexbox and iPhone absolute so logo can be easily centered
      left: 10rem;
      top: 20rem;
    }
  }
}

.header-tempGraph {
  width: 100%;
}
